{{{divider}}}
<div class='footer-container'>
  <a class='unset-link' href='https://www.ory.sh/'>
    <div class='footer-item-menu'>
      <i class='fa-solid fa-arrow-left'></i>
      {{{typography 'Return to overview' 'small' 'foregroundMuted'}}}
    </div>
  </a>
  <div class='footer-fork-me'>
    <a
      href='https://github.com/ory/kratos-selfservice-ui-node'
      class='unset-link footer-fork-me'
      target='_blank'
    >
      <div class='footer-item-menu'>

        <i class='fa-solid fa-code-fork'></i>
        {{{typography 'Fork this on GitHub' 'small' 'foregroundMuted'}}}
      </div>
      <i class='fa-solid fa-up-right-from-square'></i>
    </a>

  </div>
</div>