{{{divider true "footer-divider"}}}
<div class="footer-container">
  {{{menuLink "Return to overview" "/welcome" "arrow-left"}}}
  {{{menuLink
    "Fork this on GitHub"
    "https://github.com/ory/kratos-selfservice-ui-node"
    "code-fork"
    "up-right-from-square"
  }}}
</div>