<div class="fork-me">
  <a href="https://www.ory.sh/" class="fork-me-link">Protected by <img class="fork-me-image" src="ory.png" alt="Protected by Ory" /></a>
  <div class="fork-me-text">
    <a href="https://github.com/ory/kratos-selfservice-ui-node" class="fork-me-link">
      Fork this app on
      <img class="fork-me-fork" alt="Fork me on GitHub" src="repo-forked.png" />
      GitHub to customize it!
    </a>
  </div>
</div>
