<div class="fork-me">
  <img class="fork-me-image" src="{{baseUrl}}assets/ory.png" alt="Powered by Ory"/>
  <div class="fork-me-text">
    <a href="https://github.com/ory/kratos-selfservice-ui-node" class="fork-me-link">
      Fork our example UI on
      <img class="fork-me-fork" alt="Fork me on GitHub" src="{{baseUrl}}assets/repo-forked.png"/>
      GitHub and customize it!
    </a>
  </div>
</div>
