<form action="{{form.action}}" method="{{form.method}}">
    {{> messages messages=form.messages }}
    {{> form_fields fields=form.fields }}
    {{#if submitLabel}}
        <button type="submit">{{submitLabel}}</button>
    {{/if}}
</form>
