<div class="header">
    <a href="{{pathPrefix}}">
        {{> icon_logo}}
    </a>
    <div class="icon-actions">
        <div class="settings">
            <a href="{{pathPrefix}}settings">
                {{> icon_gear}}
            </a>
        </div>
        <div class="logout">
            <a href="{{logoutUrl}}">
                {{> icon_sign_out}}
            </a>
        </div>
        <div class="fork">
            <a href="https://github.com/ory/kratos-selfservice-ui-node" target="_blank">
                {{> icon_repo_forked}}
                <div>Fork on<br>GitHub</div>
            </a>
        </div>
    </div>
</div>
