<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="icon" href="{{{faviconUrl}}}" type="{{{faviconType}}}" />
<meta charset="utf-8" />
<title>{{projectName}}</title>
{{! CSS Reset}}
<link type="text/css" rel="stylesheet" href="assets/normalize.css" />
{{! Fonts }}
<link type="text/css" rel="stylesheet" href="assets/inter-font.css" />
<link type="text/css" rel="stylesheet" href="assets/jetbrains-mono-font.css" />
{{! Font Awesome }}
<link type="text/css" rel="stylesheet" href="assets/fa-brands.min.css" />
<link type="text/css" rel="stylesheet" href="assets/fa-solid.min.css" />
<link type="text/css" rel="stylesheet" href="assets/fontawesome.min.css" />
{{! Themes }}
<link type="text/css" rel="stylesheet" href="style.css" />
<link type="text/css" rel="stylesheet" href="theme.css" />
{{! Managed UI styling }}
<link type="text/css" rel="stylesheet" href="main.css" />
