<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="icon" type="image/png" href="favico.png" />
<meta charset="utf-8" />
<title>{{projectName}}</title>
{{! Themes }}
<link type="text/css" rel="stylesheet" href="style.css" />
<link type="text/css" rel="stylesheet" href="theme.css" />
{{! Managed UI styling }}
<link type="text/css" rel="stylesheet" href="main.css" />