<div class="col-xs-4 col-md-12">
  <div class="box">
    <div class="input-button">
      <a target="_blank" class="button"
         data-testid="{{testId}}"
         href="{{href}}">{{label}}</a>
    </div>
  </div>
</div>
