<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> standard_headers}}
    <link type="text/css" rel='stylesheet' href="auth-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="auth-container spacing-16">
        {{{body}}}
        {{> ory_branding}}
      </div>

    {{> scripts }}
    </main>
  </body>
</html>
