<!DOCTYPE html>
<html lang="{{lang}}">
  <head>
    {{> standard_headers}}
    <link type="text/css" rel='stylesheet' href="auth-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div>
        {{{body}}}
      </div>

    {{> scripts }}
    </main>
  </body>
</html>
