<html lang='en'>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel='icon' type='image/png' href='favico.png' />
    <meta charset='utf-8' />
    <title>{{projectName}}</title>
    {{! Themes }}
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="theme.css" />
    {{! Managed UI styles }}
    <link rel='stylesheet' href='main.css' />
    <link rel='stylesheet' href='auth-layout.css' />
    {{! WebAuthn Support }}
    <script src=".well-known/ory/webauthn.js" type="text/javascript"></script>
  </head>
  <body>
    <main data-testid="app-express">
      <div class="auth-container">
        {{{body}}}
      </div>
    </main>
    <footer>
      {{> fork_me}}
    </footer>
  </body>
</html>