<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon"
        type="image/png"
        href="favico.png">
  <meta charset="utf-8">
  <title>{{projectName}}</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="flexboxgrid.min.css">
</head>
<body>
<main data-testid="app-express">
  <div class="app-container">
    {{{body}}}
  </div>
</main>
<footer>
  {{> fork_me}}
</footer>
</body>
</html>
