<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <base href="{{@baseUrl}}">
    <title>SecureApp</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

{{{body}}}

</body>
</html>
