<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon"
        type="image/png"
        href="favico.png">
  <meta charset="utf-8">
  <title>{{projectName}}</title>
  <link rel="stylesheet" href="assets.css">
  <link rel="stylesheet" href="theme.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="flexboxgrid.min.css">
</head>
<body>
<main data-testid="app-express">
  {{{body}}}
</main>
<footer>
  {{> fork_me}}
</footer>
</body>
</html>
