<html lang="{{lang}}">
  <head>
    {{> standard_headers}}
    <link type="text/css" rel="stylesheet" href="content-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="app-container">
          {{{body}}}
      </div>
      {{> scripts }}
    </main>
  </body>
</html>
