<html lang="en">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="icon" type="image/png" href="favico.png" />
    <meta charset="utf-8" />
    <title>{{projectName}}</title>
    {{! Themes }}
    <link type="text/css" rel="stylesheet" href="style.css" />
    <link type="text/css" rel="stylesheet" href="theme.css" />
    {{! Managed UI styles }}
    <link type="text/css" rel="stylesheet" href="main.css" />
    <link type="text/css" rel="stylesheet" href="content-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="app-container">
        {{{nav}}}
        <div class="container spacing-32">
          <div class="content">
            {{{body}}}
          </div>
          <div class="ory-branding">
            {{{oryBranding}}} <img width="32px" height="16px" src="ory-small.svg" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>