<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="favico.png" />
    <meta charset="utf-8" />
    <title>{{projectName}}</title>
    {{! Theme styles }}
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="theme.css" />
    {{! Managed UI styles }}
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="welcome-layout.css" />
    <link rel="stylesheet" href="inter-font.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="app-container">
        {{{nav}}}
        <div class="welcome-container">
          <div class="welcome-content">
            {{{body}}}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>