<!DOCTYPE html>
<html lang="en">
  <head>
    {{> standard_headers}}
    <link type="text/css" rel="stylesheet" href="content-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="app-container">
        {{{nav}}}
        <div class="container spacing-32">
          <div class="content">
            {{{body}}}
          </div>
          {{> ory_branding}}
        </div>
      </div>
      {{> scripts }}
    </main>
  </body>
</html>
