<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Welcome, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>

        <p>This is where your user-specific .pac file URL will be displayed: _______</p>
        <pre><code>{{jsonPretty session.identity.traits}}</code></pre>
        <p>Headers:</p>
        <pre><code>{{headers}}</code></pre>

    </div>
</div>