<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Welcome back, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>
        <h3>This example app is secure by default!</h3>
        <p>
            Hello, nice to have you! You signed up with this data:
        </p>
        <pre><code>{{jsonPretty session.identity.traits}}</code></pre>
        <p>
            Requests to your application contain a ORY Kratos Session Cookie:
        </p>
        <pre><code>{{headers}}</code></pre>

        <p>which a ExpressJS middleware checks for validity and payload. The decoded ORY Kratos Session payload is as follows:</p>
        <pre><code>{{jsonPretty session}}</code></pre>
    </div>
</div>
