<div class="content">
    <div class="header">
        {{> icon_logo}}
        <div class="logout"><a href="{{logoutUrl}}">LOG OUT</a></div>
    </div>
    <div class="container">
        <h1>An error occurred</h1>
        <pre><code>{{message}}</code></pre>
    </div>
</div>
