<div class="content">
    <div class="header">
        <div class="title">SecureApp</div>
        <div class="logout"><a href="{{logoutUrl}}">LOG OUT</a></div>
    </div>
    <div class="container">
        <h1>An error occurred</h1>
        <pre><code>{{message}}</code></pre>
    </div>
</div>