<div class="auth">
    <div class="container" id="login">
        {{> icon_logo}}
        <h5 class="subheading">Welcome to this example login screen!</h5>

        {{> messages messages=messages className="global"}}

        <div id="ui">
            {{> ui ui=ui}}
        </div>

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <a href="{{pathPrefix}}auth/registration">Register new account</a>
            <a href="{{pathPrefix}}recovery">Reset password</a>
        </div>
    </div>
</div>
