<div class="auth">
    <div class="container">
        <h1>{{projectName}}</h1>
        <h2>Log in</h2>

        {{> kratosErrors}}

        <form action="{{formAction}}" method="POST">
            {{> formFields}}
            <button type="submit">SIGN IN</button>
        </form>

        <a href="{{baseUrl}}auth/registration">Create new account</a>
    </div>
</div>