<div id="login">
  {{{card}}}
  
  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

    <script type="text/javascript">
    document.getElementsByName("webauthn_login_trigger").forEach((v) =>
    { v.addEventListener("click", () => {
    {{{webAuthnHandler}}}
    }) })
  </script>
</div>

