<div class="auth">
    <div class="container">
        {{> icon_logo}}
        <h5 class="subheading">Welcome to this example login screen!</h5>

        {{#if password}}
            <div id="login-password">
                {{> form submitLabel="Sign in" form=password}}
            </div>
        {{/if}}

        {{#if oidc}}
            <div id="login-oidc">
                {{> form form=oidc}}
            </div>
        {{/if}}

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <a href="{{pathPrefix}}auth/registration">Register new account</a>
        </div>
    </div>
</div>
