<div class="auth">
    <div class="container">
        {{> icon_logo}}
        <h5 class="subheading">Welcome to this example login screen!</h5>

        {{> formErrors className="overview-form-errors"}}

        <form action="{{formAction}}" method="POST">
            {{> formFields}}
            <button type="submit">Sign In</button>
        </form>

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="{{baseUrl}}auth/registration">Recover password</a> -->
            <a href="{{baseUrl}}auth/registration">Register new account</a>
        </div>
    </div>
</div>
