<div id="login">
  <div class="mh-100vh d-flex">
    <div class="min-40 py-5 mt-4">
      <div class="d-flex login-alignment-wrapper">
      <div>
      <div class="text-center pt-4 mb-5">{{> ory_branding}}</div>
      <h1 class="text-center login-heading my-3">Login</h1>
      <p class="text-center login-text">Please use your credentials to access Obsidian and login</p>
      {{{card}}}
      <div class="text-center copywrite-text">47Billion &copy; 2024</div></div></div>
    </div>
    <div class="login-bg"/>
  </div>

  {{> webauthn_setup nodes=nodes webAuthnHandler=webAuthnHandler webauthnTriggerName="webauthn_login_trigger"}}
  {{> js_setup nodes=nodes}}
  {{#if extraPartial }}
    {{> (extraPartial) }}
  {{/if}}
</div>
