<div id="login">
  {{{card}}}

  {{> webauthn_setup nodes=nodes webAuthnHandler=webAuthnHandler webauthnTriggerName="webauthn_login_trigger"}}
  {{#if extraPartial }}
    {{> (extraPartial) }}
  {{/if}}
</div>
