<div class="auth">
    <div class="container">
        {{> icon_logo}}
        <h5 class="subheading">Welcome to this example login screen!</h5>

        {{> messages messages=messages className="global"}}
        
        {{#if challenge}}
            <form>
                <div style="margin-bottom: 8px">Hydra Challenge</div>
                <label id="login-challenge">
                    <input name="challenge" value={{challenge}}></input>
                </label>
            </form>
        {{/if}}

        {{#if id}}
            <form>
                <div style="margin-bottom: 8px">Kratos Request Id</div>
                <label id="login-request">
                    <input name="id" value={{id}}></input>
                </label>
            </form>
        {{/if}}
        
        
        {{#if password}}
            <div id="login-password">
                <div style="margin-bottom: 8px">Login</div>
                {{> form submitLabel="Sign in" form=password}}
            </div>
        {{/if}}

        {{#if oidc}}
            <div id="login-oidc">
                {{> form form=oidc}}
            </div>
        {{/if}}

        <hr class="divider">

        <div class="alternative-actions">
            <!-- <a href="auth/registration">Recover password</a> -->
            <a href="{{pathPrefix}}auth/registration?login_challenge={{challenge}}">Register new account</a>
        </div>
    </div>
</div>
