<div class="content">
    {{> header}}
    <div class="container">
        <h4>User settings</h4>

        {{> formErrors className="overview-form-errors"}}

        <form action="{{action}}" method="{{method}}">
            {{#each fields}}
                {{> (toFormInputPartialName type)}}
            {{/each}}
            <button type="submit">Update user information</button>
        </form>
    </div>
</div>
