<div class="auth app-container" id="recovery">
  <div class="card">
    <h2 class="typography-h2 card-title">Recover your account</h2>

    {{> messages messages=messages className="global"}}

    {{> ui ui=ui}}
  </div>
  <div class="card">
    <div class="card-action">
      <a class="typography-link typography-h2" data-testid="back-button" href=""{{signInUrl}}"">Go back</a>
    </div>
  </div>
</div>
