<div class="content">
    {{> header}}
    <div class="page-container" id="recovery">
        <h4>Recover your account</h4>

        {{> messages messages=messages className="global"}}

        <div id="ui">
          {{> ui submitLabel="Send recovery link" ui=ui}}
        </div>
    </div>
</div>
