<div class="content">
    {{> header}}
    <div class="container">
        <h4>Recover your account</h4>

        {{> messages messages=messages className="global"}}

        {{#if link}}
            <div id="recovery-token">
                {{> form form=link submitLabel="Send recovery link"}}
            </div>
        {{/if}}
    </div>
</div>
