<div id="signup">

  {{{card}}}

  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

  <script type="text/javascript">
    document.getElementsByName("webauthn_register_trigger").forEach((v) => { 
      v.addEventListener("click", () => {
        {{{webAuthnHandler}}}
      }) 
    })
  </script>
</div>
