<div class="auth">
    <div class="container">
        {{> icon_logo}}
        <h5 class="subheading">Welcome to SecureApp! Fill the form below:</h5>

        {{> formErrors}}

        <form action="{{ formAction }}" method="POST">
            {{> formFields}}
            <button type="submit">Sign Up</button>
        </form>

        <hr class="divider">

        <div class="alternative-actions">
            <a href="{{baseUrl}}auth/login">Already have an account? Log in instead</a>
        </div>
    </div>
</div>
