<div class="auth">
    <div class="container">
        <h1>{{projectName}}</h1>
        <h2>Sign up</h2>

        {{> kratosErrors}}

        <form action="{{ formAction }}" method="POST">
            {{> formFields}}
            <button type="submit">Sign Up</button>
        </form>

        <a href="{{baseUrl}}auth/login">Sign in with existing account</a>
    </div>
</div>