{{{settingsScreen.Nav}}}
<div class="container spacing-32">
    <div class="content spacing-32">
        {{{settingsScreen.Body}}}
    </div>

    {{> ory_branding }}

  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

  <script type="text/javascript">
    document.getElementsByName("webauthn_register_trigger").forEach((v) => {
      v.addEventListener("click", () => {
      {{{webAuthnHandler}}}
      })
    })
  </script>

</div>
