<div class="content">
    {{> header}}
    <div class="container">
        <h2>Settings</h2>

        {{#if updateSuccessful}}
            <p>Your changes have been saved!</p>
        {{/if}}

        <h3>Profile</h3>
        {{> formErrors className="overview-form-errors" errors=methods.profile.config.errors}}

        <form action="{{methods.profile.config.action}}" method="{{methods.profile.config.method}}">
            {{#each methods.profile.config.fields}}
                {{> (toFormInputPartialName type)}}
            {{/each}}
            <button type="submit">Save</button>
        </form>

        <hr width="100%"/>

        <h3>Password</h3>

        {{> formErrors className="overview-form-errors" errors=methods.password.config.errors}}

        <form action="{{methods.password.config.action}}" method="{{methods.password.config.method}}">
            {{#each methods.password.config.fields}}
                {{> (toFormInputPartialName type)}}
            {{/each}}
            <button type="submit">Save</button>
        </form>
    </div>
</div>
