<div class="spacing-32">

    <div class="spacing-32">
        {{{settingsScreen}}}
    </div>

  {{> webauthn_setup nodes=nodes webAuthnHandler=webAuthnHandler webauthnTriggerName="webauthn_register_trigger"}}
  {{> js_setup nodes=nodes}}
</div>
