<div class="content">
    {{> header}}
    <div class="container">
        <h4>Resend verification code</h4>
        <form action="{{action}}" method="{{method}}">
            {{#each fields}}
                {{> (toFormInputPartialName type)}}
            {{/each}}
            <button type="submit">Resend verification code</button>
        </form>
    </div>
</div>
