<div class="content">
    {{> header}}
    <div class="container">
        <h4>Verify your email address</h4>

        {{> messages messages=messages className="global"}}

        {{#if link}}
            <div id="verification-token">
                {{> form form=link submitLabel="Resend verification link"}}
            </div>
        {{/if}}
    </div>
</div>
