<div class="content">
    {{> header}}
    <div class="container">
        <h4>Resend verification code</h4>

        {{> messages messages=messages className="global"}}

        <form action="{{form.action}}" method="{{form.method}}">
            {{#each form.fields}}
                {{> (toFormInputPartialName type)}}
            {{/each}}
            <button type="submit">Resend verification code</button>
        </form>
    </div>
</div>
