<div class="container-fluid">
  <div class="app-container welcome">
    <div class="card">
      <h2 class="typography-h2 card-title">Welcome to Velocity!</h2>
      <p class="typography-paragraph">
        Welcome to the VelocityID homepage.
      </p>
        <div class="col-md-8 col-xs-12">
          <div class="box">
            <h2 class="typography-h3">Session Information</h2>
            <p class="typography-paragraph">
              Below you will find the decoded Ory Session if you are logged in.
            </p>
            <pre class="code-box"><code>{{session}}</code></pre>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h2 class="typography-h2">Other User Interface Screens</h2>
      <div class="row">
        {{> ui_screen_button testId="login" link="login" label="Sign In" disabled=hasSession}}
        {{> ui_screen_button testId="sign-up" link="registration" label="Sign Up" disabled=hasSession}}
        {{> ui_screen_button testId="recover-account" link="recovery" label="Recover Account" disabled=hasSession}}
        {{> ui_screen_button testId="verify-account" link="verification" label="Verify Account"}}
        {{> ui_screen_button testId="account-settings" link="settings" label="Account Settings" disabled=(not hasSession)}}
        {{> ui_screen_button testId="logout" href=logoutUrl label="Logout" disabled=(not hasSession) }}
      </div>
    </div>
  </div>
</div>
