@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500&display=swap');

:root {
    --base-white: #FFFFFF;
    --base-light: #F0F0F1;
    --base-text: #99999E;
    --base-main: #5A5B6A;
    --base-dark: #19191D;
    --base-black: #000000;
    --primary-light: #ECFDFE;
    --primary-half: #95E1F9;
    --primary-main: #3DACFC;
    --primary-dark: #2E0473;
    --red-strong: #F44336;
    --green-strong: #43A047;
}

html, body {
    min-height: 100vh;
    text-rendering: geometricPrecision;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    color: var(--base-light);
    background: var(--base-dark);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 600px;
    margin: 0 auto;
}

.auth .container {
    width: 300px;
}

.logo {
    pointer-events: none;
    margin: 0 auto 2rem 0;
}

.content {
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
}

.content p {
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
}

.content .header {
    padding: 1.666rem 11.5rem;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid var(--primary-main);
}

.content .header .icon-actions > div {
    display: inline;
    margin: 0 0.5rem;
}

.content .header .icon-actions .fork path {
    fill: var(--primary-main);
    transition: fill 0.1s ease-in-out;
}

.content .header .icon-actions .fork:hover path {
    fill: var(--primary-light);
}

.content .header .icon-actions .fork a,
.content .header .icon-actions .fork a:visited {
    color: var(--primary-main);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
    font-size: 0.666em;
    line-height: 1em;
}

.content .header .icon-actions .fork a div {
    display: inline-block;
}

.content .header .icon-actions .fork a:hover {
    color: var(--primary-light);
}

.content .header .logo {
    height: 2rem;
    margin: 0;
}

.content .header .logout a,
.content .header .logout a:link {
    color: white;
    text-decoration: none;
    transition: ease 200ms;
}

.content .header .logout a:hover,
.content .header .logout a:active {
    color: var(--primary-light);
}

.content .container {
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-top: 4rem;
}

h4:first-child {
    margin: 0;
}

h4 ~ h5 {
    margin: -0.25rem 0 1rem 0;
}

.content .greeting .user-identifier {
    color: var(--primary-main);
}

.container pre {
    text-align: left;
    background: black;
    color: white;
    padding: 13px;
    overflow: auto;
}

.container pre code {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
}

.container p {
    margin-bottom: 1rem;
}

.container p > code {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    line-height: 160%;
    background: black;
    color: white;
    padding: 2px 4px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.container .kratos-errors:not(:empty) {
    margin-bottom: 1em;
    text-align: left;
}

.container .kratos-errors p {
    margin: 1em 0;
}

.content .container a {
    color: var(--primary-main);
    transition: color 0.1s ease-in-out;
}

.container a:hover {
    color: var(--base-white);
}
