/* set the html and body to fill the viewport */
/* html,
body {
  height: 100%;
} */

body {
  margin: auto;
  min-height: 100vh;
  min-width: 100%;
  background: var(--ory-theme-background-canvas);
  display: flex;
  flex-direction: column;
}

/* main contains all of our page elements - excluding the footer */
main {
  /* fill the page */
  flex: 1;
}

.divider {
  width: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
