@import url("style.css");

body {
  margin: auto;
  min-height: 100%;
  min-width: 100%;
  background: var(--ory-theme-background-canvas);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 4rem;
}

footer {
  margin-bottom: 0;
}

/*By default set the container size to mobile*/
.app-container {
  display: flex;
  flex-direction: row;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome-nav {
  min-width: 18.75rem;
}

.footer-container {
  padding: 1rem 1.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--ory-theme-foreground-muted);
  background-color: var(--ory-theme-background-surface);
}

a.unset-link {
  text-decoration: none;
  color: unset;
}

.footer-divider {
  height: 0;
  border-top: 1px !important;
}

.footer-item-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.footer-fork-me {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  color: var(--ory-theme-foreground-muted);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.divider {
  width: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.messages .message {
  color: var(--grey70);
  font-size: 12px;
  text-align: left;
  border-radius: 0;
}

.messages.standalone .message {
  margin-bottom: 0;
}

.required-indicator {
  color: var(--primary60);
}

.checkbox {
  margin-bottom: 8px;
}

.checkbox-inner {
  margin-bottom: 6px;
}

.code-box {
  overflow-y: auto;
  max-height: 640px;
  overflow-wrap: break-word;
}

.code-body code {
  overflow-wrap: break-word;
}

.recovery-code {
  margin-bottom: 0.5rem;
}
