html,
body {
  text-rendering: geometricPrecision;
}

body {
  min-height: 100vh;
  background: var(--grey5);
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 680px;
  margin: 0 auto;
  padding-top: 70px;
}

.auth.app-container {
  max-width: 335px;
  padding-top: 70px;
}

.welcome.app-container {
  max-width: 980px;
  padding-top: 70px;
  padding-left: 12px;
  padding-right: 12px;
}

.card {
  border: 1px solid var(--grey10);
  background: var(--grey0);
  margin-bottom: 18px;
  padding: 20px;
}

.card-title {
  text-align: center;
  color: var(--primary60);
}

.card-action {
  text-align: center;
}

.card-action a {
  font-size: 15px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.text-input {
  box-sizing: border-box;
}

.messages .message {
  color: var(--grey70);
  font-size: 12px;
  text-align: left;
  border-radius: 0;
}

.messages.standalone .message {
  margin-bottom: 0;
}

.required-indicator {
  color: var(--primary60);
}

.checkbox {
  margin-bottom: 8px;
}

.checkbox-inner {
  margin-bottom: 6px;
}

.code-box {
  overflow-y: auto;
  max-height: 640px;
  overflow-wrap: break-word;
}

.code-body code {
  overflow-wrap: break-word;
}

.input-button a.button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}

.input-button a.button[aria-disabled="true"],
.input-button a.button[aria-disabled="true"]:hover {
  color: #b4b4bb;
  background-color: #e1e1e3;
}

.recovery-code {
  margin-bottom: 0.5rem;
}

form img {
  margin: 0 auto;
  display: block;
}
