@import url('theme.css');

html, body {
    text-rendering: geometricPrecision;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: var(--palettes-light-background-surface);
    display: flex;
    flex-direction: column;
}

main {
  flex: 1;
}

/*By default set the container size to mobile*/
.app-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 24.375em;
    padding-top: 4rem;
}

.card {
    max-width: 18.375rem;
}

/*Set the viewports for md*/
@media only screen and (min-width: 48em) {
    .app-container {
        max-width: 48em;
    }
    .card {
        max-width: 21rem;
    }
}

/*Set the viewport for lg*/
@media only screen and (min-width: 90em) {
    .app-container {
        max-width: 90em;
    }
    .card {
        max-width: 21rem;
    }
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider {
    width: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-oidc {
    display: flex;
    gap: 1rem;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.messages .message {
  color: var(--grey70);
  font-size: 12px;
  text-align: left;
  border-radius: 0;
}

.messages.standalone .message {
  margin-bottom: 0;
}

.required-indicator {
  color: var(--primary60);
}

.checkbox {
  margin-bottom: 8px;
}

.checkbox-inner {
  margin-bottom: 6px;
}

.code-box {
  overflow-y: auto;
  max-height: 640px;
  overflow-wrap: break-word;
}

.code-body code {
  overflow-wrap: break-word;
}

.recovery-code {
  margin-bottom: 0.5rem;
}
