h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 126%;
}

h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 126%;
}

h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 168%;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 168%;
}

h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 168%;
}

.label {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 168%;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 168%;
}

.tiny-text {
    font-style: normal;
    font-weight: normal;
    font-size: 0.666rem;
    line-height: 100%;
}
